@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, Roboto, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

.vertical-text {
  transform: rotateZ(-90deg);
}

.call-button {
  position: fixed;
  bottom: 3.5rem;
  left: 3rem;

  border-width: 10px;
}

.menu-content {
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  height: 100%;
}

.menu-content ul {
  width: 260px;
}

.menu-content li {
  position: relative;
}

.menu-content li::before {
  top: 0;
}

.menu-content li::after {
  bottom: 0;
}

.menu-content li::before,
.menu-content li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.menu-content li:hover:after,
.menu-content li:hover:before {
  width: 100%;
  height: 1px;
}

.menu-content.open {
  width: 260px;
}

.menu-overlay {
  position: fixed;
  left: 3rem;
  top: 3rem;
  bottom: 3rem;
  right: 3rem;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.menu-overlay.open {
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
}

/*====================== CARD ============*/

.card .card-content-teal {
  background-color: rgb(79, 209, 197);
  transition: 0.3s;
}

.card:hover .card-content-teal {
  background-color: rgba(79, 209, 197, 0.7);
}

/*====================== CARD ============*/

.carousel-wrapper {
  height: 500px;
  overflow-y: hidden;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
